[trainer]
batch_size = 5


[imitation_learning]
il_episodes = 500
il_policy = orca
il_epochs = 5
il_learning_rate = 0.01
# increase the safety space in ORCA demonstration for robot
safety_space = 0.15


[train]
rl_learning_rate = 0.001
# number of batches to train at the end of training episode
train_batches = 100
# training episodes in outer loop
train_episodes = 1000
# number of episodes sampled in one training episode
sample_episodes = 1
target_update_interval = 10
evaluation_interval = 100
# the memory pool can roughly store 2K episodes, total size = episodes * 50
capacity = 20000
epsilon_start = 0.5
epsilon_end = 0.1
epsilon_decay = 4000
checkpoint_interval = 1000

[train_sim]
init_episodes = 50
model_sim_lr = 0.001
model_sim_epochs = 10
ms_batchsize = 100
sample_episodes_in_sim = 10